$backgroundImage:url(../img/m-h-day.jpg);
$textColor:rgb(40, 43, 57);
$highlightColor:rgb(12, 161, 200);
$mainBackground:white;
$cardBackground:rgb(28, 30, 42);
$bannerGradient:linear-gradient(90deg, rgba(105,154,0,1) 0%, rgba(42,91,215,1) 100%);
$buttonColor:rgb(105, 154, 0);
$textFonts:'Hind', sans-serif;