$backgroundImage:url(../img/m-h-night.jpg);
$textColor:white;
$highlightColor:rgb(255, 77, 48);
$mainBackground:rgb(28, 30, 42);
$cardBackground:rgb(56, 61, 79);
$bannerGradient:linear-gradient(90deg, rgba(228, 174, 0,1) 0%, rgba(151, 47, 78,1) 100%);
$buttonColor:rgb(228, 174, 0);
$textFonts:'Fresca', sans-serif;